{% extends "../base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center text-center">
        <div class="heading-container text-center mb-4">
            <h1>Sign Out</h1>
            <p>Are you sure you want to Sign Out of Pixel?</p>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12">
            {% url 'account_logout' as action_url %}
            {% element form method="post" action=action_url no_visible_fields=True %}
                {% slot body %}
                    {% csrf_token %}
                    {{ redirect_field }}
                {% endslot %}

                {% slot actions %}
                <a href="{{ home_url }}" class="btn btn-lg btn-danger">Cancel</a>
                <button type="submit" class="btn btn-lg btn-warning">Sign Out</button>
                {% endslot %}

            {% endelement %}
        </div>
    </div>
</div>
{% endblock %}