{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid d-flex align-items-end bb-orange mb-5" id="jumbotron-img">
    <div class="jumbo-wording p-5">
        <h1 class="text-white">Take a Moment. Make a Change.</h1>
        <p class="text-white">Join a community of like-minded individuals to make the world a better place.</p>
        <a href="" class="btn btn-warning btn-lg mt-3"><i class="fa-solid fa-heart me-2"></i>Make a Donation</a>
    </div>
</div>

<div class="container d-flex justify-content-center">
    {% for charity in charities %}
    {% if charity.approved %}
    <div class="col-md-5">
        <div class="card">
            <div class="charity-image"></div>
            <div class="card-body d-flex flex-column align-items-start">
                <p class="h3">{{charity.name}}</p>
                <div class="description">
                    {{ charity.description | safe }}
                </div>
                <a href="{% url 'charity_detail' charity.slug %}" class="btn btn-warning btn-lg">
                    Read More<i class="fa-solid fa-angle-right ms-2"></i>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}